@import '../../scss/variables.scss';
@import '../../scss/extends.scss';
@import '../../scss/mixins.scss';

.content {
    display: flex;
    flex-direction: column;
    width: 65vw;
    height: 100%;
    margin: 2vh auto;
    
}

.header {
    display: flex;
    flex-direction: column;
    background-color: $headerBg;
    border-radius: 6px;
    height: 30%;
    padding: 5%;
    

    &__title {
        font-size: 4em;
        margin: 0;
    }

    &__subtitle {
        font-size: 1.8em;
    }

    &__icon {
        margin-bottom: -10px;
        padding-bottom: 0;
        font-size: 1.2em;
    }

    button {
        @extend %button-add;
        @include button-size(1.2em, 0.7em)
    }
}

.campgrounds-grid {
    margin-top: 2%;
    align-content: center;
    
    
    &__thumbnail {
    @include grid(4, 2%);
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: 1px solid $contentBorder;
    border-radius: 4px;

     img {
         width: 100%;
         height: 200px;
         object-fit: cover;
     }

     button {
         @extend %button-add;
         @include button-size(1em, 0.7em);
         text-decoration: none;
     }

     &:hover {
        transform: scale(1.08);
        transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }
    }
}