@import '../../scss/variables.scss';
@import '../../scss/extends.scss';
@import '../../scss/mixins.scss';

.form-container {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 100vh;
    margin: 4% auto;

    .new-item-form {
        display: flex;
        flex-direction: column;

        input {
            padding-top: 3%;
            margin-bottom: 3%;
            border-radius: 4%;
            font-size: 1.2em;
            border-color: $contentBorder;
        }

        .btn-submit {
            @extend %button-add;
            width: 100%;
            border: none;
            font-size: 1.4em;
            height: 2.4em;
        }
        
    }
}